:root {
  --font-family: 'Lato', sans-serif;
  --second-family: 'Montserrat', sans-serif;
  --third-family: 'Gayathri', sans-serif;
  --font3: 'Alex Brush', sans-serif;
  --gray-1: #333;
  --canvas-wrapper-border-color: #eae9eb;
  --primary-color-dark-blue: #393a3e;
  --primary-color-blue: #586fec;
  --primary-color-light-blue: #f8faff;
  --primary-color-gray: #8f92a3;
  --primary-color-light-gray: #f2f3f8;
  --primary-color-white: #fff;
  --circle-zheltyy-1: #f8ecb2;
  --circle-zheltyy-2: #e4d28e;
  --circle-zheltyy-3: #ebcc3c;
  --circle-oranzhevyy-1: #fccb8e;
  --circle-oranzhevyy-2: #e6b26f;
  --circle-oranzhevyy-3: #e78b0a;
  --circle-rozovyy-1: #f5aea8;
  --circle-rozovyy-2: #e29d93;
  --circle-rozovyy-3: #e25d60;
  --circle-korichnevyy-1: #c4a5a3;
  --circle-korichnevyy-2: #a88b85;
  --circle-korichnevyy-3: #825251;
  --circle-zelenyy-1: #c2cebd;
  --circle-zelenyy-2: #a5b19e;
  --circle-zelenyy-3: #7b9376;
  --circle-fioletovyy-1: #b9bac9;
  --circle-fioletovyy-2: #9a9bb1;
  --circle-fioletovyy-3: #686c91;
  --circle-lavandovyy-1: #dbc6da;
  --circle-lavandovyy-2: #bb9cbb;
  --circle-lavandovyy-3: #a1659f;
  --circle-seryy-1: #dde2e1;
  --circle-seryy-2: #ced2d0;
  --circle-seryy-3: #c0c9ce;
  --system-colors-hover: #364fd6;
  --system-colors-pressed: #233bbb;
  --system-colors-hover: #ebedfb;
  --system-colors-pressed: #b5bff3;
  --system-colors-error: #e23337;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background: white;
  font-family: var(--font-family);
  color: var(--gray-1);
}

canvas {
  background: transparent;
  font-family: 'Lato, sans-serif';
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  position: absolute;
  z-index: 50;
  border-radius: 50%;
}

.number {
  position: absolute;
  font-weight: 400;
  z-index: 50;
  text-align: center;
}

.dot {
  position: absolute;
  z-index: 50;
  border-radius: 50%;
  display: block;
}

.text {
  font-weight: 700;
  position: absolute;
  z-index: 30;
}

.icon-circle {
  border-radius: 50%;
  border-color: var(--primary-color-white);
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 65%;
  }
}

.description {
  position: absolute;
  z-index: 70;
}

.event-date {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 3px;
  color: var(--primary-color-white);
}



